extends layout

block content
    div.row
        div.col
            h2 Decoded ILP Packet
            h3 Packet
            pre= JSON.stringify(packet, undefined, 2)
            h3 Packet Data
            pre= JSON.stringify(packetData, undefined, 2)
            button.btn.btn-primary(onclick='window.history.back()') Back
