extends layout

block content
    div.row
        div.col
            h2 Decoded ILP Packet
            h5 Packet
            pre= JSON.stringify(packet, undefined, 2)
            h5 Packet Data
            p This is the base64 decoded data from the packet above.
            pre= JSON.stringify(packetData, undefined, 2)
            button.btn.btn-primary(onclick='window.history.back()') Back
