extends layout

block content
    div.row
        div.col
            h2 Generated Condition
            h5 Condition
            p Provided in the quote response. This is a hash of the fulfilment known only to the payee FSP.
            pre= condition
            h5 Fulfilment
            p Provided by the payee FSP after a successful committed transaction and validated by the switch.
            pre= fulfilment
            button.btn.btn-primary(onclick='window.history.back()') Back
