doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='/styles/bootstrap.min.css')
        link(rel='stylesheet' href='/styles/site.css')
        title Mojaloop ILP Tools
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            span.navbar-brand.mb-0.h1 Mojaloop ILP Tools
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarEntries' aria-controls='navbarEntries' aria-expanded=false aria-label='Toggle navigation')
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarEntries
                div.navbar-nav
                    a.nav-item.nav-link(href='/') Encode
                    a.nav-item.nav-link(href='/decode') Decode
        div.container
            block content
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
